<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sajjad Mollah Portfolio</title>
    
<script src="static/script.js"></script>
<link rel="stylesheet" href="static/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="top-bar-container">
        <div class="top-bar-name-container">
            <div>Sajjad Mollah</div>
        </div>
        <div class="buttons">
            <div class="home button"> Home</div>
            <div class="about button">About</div>
            <div class="experience button">Projects</div>
            <div class="contact button">Contact</div>
            
        </div>
    </div>
    <div class="main-page">
        <div class="welcome">Hello, my name is Sajjad</div>
        <div class="intro1">an individual with a passion for programming</div>
    

    </div>
    <div class="about-page">
        <div class="about-page-header">About me</div>

        <div class="about-page-container">


            <div class="about-page-desc"> I am an ex degree apprentice from Mondelez International. I enjoy coding and developing apps. I have experience in the following programming languages

            </div>

            <div class="skills-container"> 
                <div class="skill">Python</div>
                <div class="skill">CSS</div>
                <div class="skill">HTML</div>
                <div class="skill">JavaScript</div>
                <div class="skill">Power Automate</div>
                <div class="skill">Power BI</div>
                <div class="skill">Django</div>
                <div class="skill">AWS</div>
                <div class="skill">Github</div>
                <div class="skill">Power Query</div>


            
            </div>

        </div>




    </div>

    
</body>
</html>

