<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sajjad Mollah Portfolio</title>
    
<script src="static/script.js"></script>
<link rel="stylesheet" href="static/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">


</head>
<body >
    <div class="top-bar-container">
        <div class="top-bar-name-container">
            <div>Sajjad Mollah</div>
        </div>
        <div class="buttons">
            <div class="home button"> Home</div>
            <div onclick ="showAbout()" class="about button">About</div>
            <div class="experience button">Projects</div>
            <div class="contact button">Contact</div>
            
        </div>
    </div>
    <div class="main-page-bg">
       
    <div class="main-page">
        <div class="welcome">Hello, my name is Sajjad</div>
        <div class="intro1">An individual with a <strong>passion</strong> for <strong>programming</strong>.</div>
        
    

    </div>
    <div class="image-bg"></div>


    </div>
    <div class="about-page">
        <div class="image-bg"></div>

        <div class="about-page-header">About me</div>

            <div class="about-page-container">   

                <div class="about-page-desc"> 
                    <h3 class="hfont">A little about me</h3>
                    
                    
                    
                    
                    
                    <p class="pfont">I am an ex degree apprentice from Mondelez International. I enjoy coding and developing apps. I have experience in the following programming languages
                        Before you can begin to determine what the composition of a particular paragraph will be, you must first decide on an argument and a working thesis statement for your paper. What is the most important idea that you are trying to convey to your reader? The information in each paragraph must be related to that idea. In other words, your paragraphs should remind your reader that there is a recurrent relationship between your thesis and the information in each paragraph. A working thesis functions like a seed from which your paper, and your ideas, will grow. The whole process is an organic one—a natural progression from a seed to a full-blown paper where there are direct, familial relationships between all of the ideas in the paper.

The decision about what to put into your paragraphs begins with the germination of a seed of ideas; this “germination process” is better known as brainstorming. There are many techniques for brainstorming; whichever one you choose, this stage of paragraph development cannot be skipped. Building paragraphs can be like building a skyscraper: there must be a well-planned foundation that supports what you are building. Any cracks, inconsistencies, or other corruptions of the foundation can cause your whole paper to crumble.
                    </p>
                </div>

                <div class="skills-desc"> 
                    <h2 class="hfont">Skills</h2>
                    <div class="skill-container">

        
                    <div class="skill">Python</div>
                    <div class="skill">CSS</div>
                    <div class="skill">HTML</div>
                    <div class="skill">JavaScript</div>
                    <div class="skill">Power Automate</div>
                    <div class="skill">Power BI</div>
                    <div class="skill">Django</div>
                    <div class="skill">AWS</div>
                    <div class="skill">Github</div>
                    <div class="skill">Power Query</div>
                    <div class="skill">Excel</div>
                </div>


            
                </div>

            </div>




    </div>

    <div class="projects-page">
        <div class ="projects-header">
            Projects
        </div>
        <div class="projects-container">
            <div class="projects">
                <div>

                </div>
            </div>
            <div class="projects">
                <div>
                    <img class="project-pic" src="https://github.com/SajjadMollah/portfoliowebsite/blob/main/my_website/my_website/static/images/logo%20edited.png">
                </div>
            
                <div class="porject-desc">
                    <h2 class="hfont">Power Automate</h3>
                    <p class="pfont">Created an <strong>internal Power Automate tool</strong> that <strong>accelerated a critical business cash flow task by 67%</strong>. Previously, this labor-intensive process took up to 3 days, but my solution reduced it to just 1 day. Additionally, the tool ensures <strong>database updates for traceability and performance measurement</strong>.</p>
                </div>





            </div>
            <div class="projects">
                <div>
                <img class="project-pic" src="C:\Users\JJad\OneDrive\Desktop\GitHub\portfoliowebsite\my_website\my_website\static\images\logo edited.png">
            </div>
        
            <div class="porject-desc">
                <h2 class="hfont">Power BI & Power Query</h3>
                <p class="pfont"><strong>Automated a time-consuming warehouse task</strong> using <strong>Power BI and Power Query</strong>. The tool calculates <strong>staff attendance based on assigned shifts</strong>, replacing the previous manual process that took 4 to 6 hours weekly..</p>
            </div>




            </div>
            <div class="projects">
                <div>
                    <img class="project-pic" src="C:\Users\JJad\OneDrive\Desktop\GitHub\portfoliowebsite\my_website\my_website\static\images\logo edited.png">
                </div>
            
                <div class="porject-desc">
                    <h2 class="hfont">Leetcode</h3>
                    <p class="pfont">Efficiently solved Easy-level algorithmic problems within 30 minutes. Additionally, I learn from other users and adapt strategies to tackle challenging problems.</p>
                </div>







            </div>
            



        </div>






    </div>
    <div class="contacts-page">
        <div class="contacts-header">Contacts</div>








    </div>

    
</body>
</html>

