<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sajjad Mollah Portfolio</title>
    
<script src="static/script.js"></script>
<link rel="stylesheet" href="static/style.css">

</head>
<body>
    <div class="top-bar-container">
        <div class="top-bar-name-container">
            <div>Sajjad Mollah</div>
        </div>
        <div class="buttons">
            <div class="about button">About</div>
            <div class="experience button">Project</div>
            <div class="contact button">Contact</div>
            
        </div>
    </div>
    <div class="main-page">
        <div class="main-about">About me

        </div>
        <div class="main-about-desc">My name is Sajjad Mollah and I want your job and your moneys.

        </div>

    </div>

    
</body>
</html>

